@model BookEF

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store - Book</title>
    <link href="~/css/Book.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="MainContainer">

        <div class="Book">
            <div class="BookImg">
                <img src="@Url.Content("~/Images/book.jpg")">
            </div>
            
            <div class="BookText">

                <div class="BookTitleNAuthor">
                    <span class="BookTitle">@Model.TitleOf</span>

                    <span class ="BookAuthor">@Model.Author.FullName</span>
                </div>
                

                <div class="BookDescription">
                    <span>@Model.DescriptionOf</span>
                </div>

            </div>

        </div>

        <div class="BuyForm">
            <form action="@Url.Action("AddItem","Order")" method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type="submit">
                    <span class="BookPrice">@Model.PriceOf $</span>
                    <span>In Cart</span>
                </button>
            </form>
        </div>

        
    </div>    
</body>
