@model BookEF[]
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store - Home</title>
    <link href="~/css/Home.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="AllBooks">
        @if (Model.Length == 0)
        {
            <p>No Books</p>
        }
        else
        {
            @foreach (var book in Model)
            {
                <div class="SingleBookLayout">
                    <a class="SingleBook" href="@Url.Action("Index", "Book", new {id = book.Id})">

                        <div>
                            <img src="@Url.Content("~/Images/book.jpg")">
                        </div>

                        <div class="SingleBookText">
                            <div class="SingleBookTitleNAuthor">
                                <span class="SingleBookTitle">@book.TitleOf</span>
                                <span class="SingleBookAuthor">@book.Author.FullName</span>
                            </div>

                            <span class="SingleBookPrice">@book.PriceOf $</span>
                        </div>
                    </a>
                </div>
                
                
            }
        }
    </div>
</body>
</html>