@model BookEF

<body style="padding-right: 25%; padding-left: 20%;">
    <div>
        <h1>Admin View</h1>   
        <form action="@Url.Action("AddItem","Order")" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button style="width:100px; height: 40px; font-size: 20px" type="submit">In Cart</button>
        </form>
    </div>
    
    <div class="BookImgAuthorPrice" style="margin-top: 100px; display:flex; ">
        <img src="@Url.Content("~/Images/book.png")">
        <div style="padding-left: 20%;">
            <h1 style="font-size: 32px"> @Model.TitleOf</h1>

            <p style="font-size: 20px"> Genre: @Model.GenreOf</p>
            <p style="font-size: 20px"> Author: @Model.Author.FullName</p>
            <p style="font-size: 20px"> Publisher: @Model.Publisher.NameOf</p>
            <p></p>
            <p style="font-size: 20px">Price: @Model.PriceOf $</p>
        </div>

    </div>

    <div>
        <p style="font-size: 24px">@Model.DescriptionOf</p>
    </div>

    <form action="@Url.Action("AddItem","Order")" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button style="width:100px; height: 40px; font-size: 20px" type="submit">In Cart</button>
    </form>
</body>




